@use "../../presets" as *;
@use "../../mixins" as *;

.header-navbar {
  &__btn {
    @include md-min {
      display: none;
    }

    &__list {
      margin: 0 -10px 0 0;
      padding: 0;
      list-style: none;

      @include md-min {
        display: grid;
        justify-content: end;
        grid-template-columns: repeat(auto-fit, minmax(50px, max-content));
        gap: 20px;
      }
      @include md {
        display: none;
      }
    }

    &__item {
    }

    &__link {
      display: block;
      padding: 20px 10px;
      font-size: 1.125rem;
      transition: color 0.25s;

      &:hover,
      &:focus {
        color: #d66926;
      }
    }
  }
}
